# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
agentuniverse=0.0.11=pypi_0
aiohttp=3.9.5=pypi_0
aiolimiter=1.1.0=pypi_0
aiosignal=1.3.1=pypi_0
alabaster=0.7.16=pypi_0
annotated-types=0.7.0=pypi_0
anthropic=0.26.1=pypi_0
anyio=4.4.0=pypi_0
asgiref=3.8.1=pypi_0
async-timeout=4.0.3=pypi_0
attrs=23.2.0=pypi_0
babel=2.15.0=pypi_0
backoff=2.2.1=pypi_0
bce-python-sdk=0.9.17=pypi_0
bcrypt=4.1.3=pypi_0
beautifulsoup4=4.12.3=pypi_0
blinker=1.8.2=pypi_0
build=1.2.1=pypi_0
bzip2=1.0.8=hcfcfb64_5
ca-certificates=2024.7.4=h56e8100_0
cachecontrol=0.14.0=pypi_0
cachelib=0.13.0=pypi_0
cachetools=5.3.3=pypi_0
certifi=2024.7.4=pypi_0
cffi=1.16.0=pypi_0
cfgv=3.4.0=pypi_0
chardet=5.2.0=pypi_0
charset-normalizer=3.3.2=pypi_0
chroma-hnswlib=0.7.3=pypi_0
chromadb=0.4.24=pypi_0
cleo=2.1.0=pypi_0
click=8.1.7=pypi_0
colorama=0.4.6=pypi_0
coloredlogs=15.0.1=pypi_0
coverage=7.6.0=pypi_0
crashtest=0.4.1=pypi_0
dashscope=1.20.1=pypi_0
dataclasses-json=0.6.7=pypi_0
defusedxml=0.7.1=pypi_0
deprecated=1.2.14=pypi_0
deptry=0.6.6=pypi_0
dill=0.3.8=pypi_0
diskcache=5.6.3=pypi_0
distlib=0.3.8=pypi_0
distro=1.9.0=pypi_0
dnspython=2.6.1=pypi_0
docutils=0.20.1=pypi_0
duckduckgo-search=6.1.12=pypi_0
dulwich=0.21.7=pypi_0
email-validator=2.2.0=pypi_0
et-xmlfile=1.1.0=pypi_0
exceptiongroup=1.2.1=pypi_0
fastapi=0.111.0=pypi_0
fastapi-cli=0.0.4=pypi_0
fastjsonschema=2.20.0=pypi_0
filelock=3.15.4=pypi_0
flask=2.3.3=pypi_0
flask-cors=4.0.0=pypi_0
flask-session=0.8.0=pypi_0
flatbuffers=24.3.25=pypi_0
frozenlist=1.4.1=pypi_0
fsspec=2024.6.1=pypi_0
future=1.0.0=pypi_0
google-auth=2.32.0=pypi_0
googleapis-common-protos=1.63.2=pypi_0
greenlet=3.0.3=pypi_0
grpcio=1.63.0=pypi_0
gunicorn=22.0.0=pypi_0
h11=0.14.0=pypi_0
httpcore=1.0.5=pypi_0
httptools=0.6.1=pypi_0
httpx=0.27.0=pypi_0
huggingface-hub=0.23.4=pypi_0
humanfriendly=10.0=pypi_0
identify=2.6.0=pypi_0
idna=3.7=pypi_0
imagesize=1.4.1=pypi_0
importlib-metadata=7.1.0=pypi_0
importlib-resources=6.4.0=pypi_0
iniconfig=2.0.0=pypi_0
installer=0.7.0=pypi_0
itsdangerous=2.2.0=pypi_0
jaraco-classes=3.4.0=pypi_0
jinja2=3.1.4=pypi_0
jiter=0.5.0=pypi_0
jsonpatch=1.33=pypi_0
jsonpointer=3.0.0=pypi_0
keyring=24.3.1=pypi_0
kubernetes=30.1.0=pypi_0
langchain=0.1.20=pypi_0
langchain-anthropic=0.1.13=pypi_0
langchain-community=0.0.38=pypi_0
langchain-core=0.1.52=pypi_0
langchain-text-splitters=0.0.2=pypi_0
langsmith=0.1.85=pypi_0
libffi=3.4.2=h8ffe710_5
libsqlite=3.46.0=h2466b09_0
libzlib=1.3.1=h2466b09_1
loguru=0.7.2=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.5=pypi_0
marshmallow=3.21.3=pypi_0
mdit-py-plugins=0.4.1=pypi_0
mdurl=0.1.2=pypi_0
mmh3=4.1.0=pypi_0
monotonic=1.6=pypi_0
more-itertools=10.3.0=pypi_0
mpmath=1.3.0=pypi_0
msgpack=1.0.8=pypi_0
msgspec=0.18.6=pypi_0
multidict=6.0.5=pypi_0
multiprocess=0.70.16=pypi_0
mypy-extensions=1.0.0=pypi_0
myst-parser=2.0.0=pypi_0
nodeenv=1.9.1=pypi_0
numpy=1.26.4=pypi_0
oauthlib=3.2.2=pypi_0
ollama=0.2.1=pypi_0
onnxruntime=1.18.1=pypi_0
openai=1.13.3=pypi_0
openpyxl=3.1.5=pypi_0
openssl=3.3.1=h2466b09_1
opentelemetry-api=1.25.0=pypi_0
opentelemetry-exporter-otlp-proto-common=1.25.0=pypi_0
opentelemetry-exporter-otlp-proto-grpc=1.25.0=pypi_0
opentelemetry-instrumentation=0.46b0=pypi_0
opentelemetry-instrumentation-asgi=0.46b0=pypi_0
opentelemetry-instrumentation-fastapi=0.46b0=pypi_0
opentelemetry-proto=1.25.0=pypi_0
opentelemetry-sdk=1.25.0=pypi_0
opentelemetry-semantic-conventions=0.46b0=pypi_0
opentelemetry-util-http=0.46b0=pypi_0
orjson=3.10.6=pypi_0
overrides=7.7.0=pypi_0
packaging=23.2=pypi_0
pandas=2.2.2=pypi_0
pexpect=4.9.0=pypi_0
pip=24.0=pyhd8ed1ab_0
pkginfo=1.11.1=pypi_0
platformdirs=4.2.2=pypi_0
pluggy=1.5.0=pypi_0
poetry=1.8.3=pypi_0
poetry-core=1.9.0=pypi_0
poetry-plugin-export=1.8.0=pypi_0
posthog=3.5.0=pypi_0
pre-commit=2.21.0=pypi_0
prompt-toolkit=3.0.47=pypi_0
protobuf=3.20.3=pypi_0
ptyprocess=0.7.0=pypi_0
pulsar-client=3.5.0=pypi_0
pyarrow=16.1.0=pypi_0
pyasn1=0.6.0=pypi_0
pyasn1-modules=0.4.0=pypi_0
pycparser=2.22=pypi_0
pycryptodome=3.20.0=pypi_0
pydantic=2.8.2=pypi_0
pydantic-core=2.20.1=pypi_0
pygments=2.18.0=pypi_0
pypika=0.48.9=pypi_0
pyproject-hooks=1.1.0=pypi_0
pyreadline3=3.4.1=pypi_0
pyreqwest-impersonate=0.4.9=pypi_0
pytest=7.4.4=pypi_0
pytest-cov=4.1.0=pypi_0
python=3.10.14=h4de0772_0_cpython
python-dateutil=2.9.0.post0=pypi_0
python-dotenv=1.0.1=pypi_0
python-multipart=0.0.9=pypi_0
pytz=2024.1=pypi_0
pywin32-ctypes=0.2.2=pypi_0
pyyaml=6.0.1=pypi_0
qianfan=0.3.18=pypi_0
rapidfuzz=3.9.4=pypi_0
regex=2024.5.15=pypi_0
requests=2.32.3=pypi_0
requests-oauthlib=2.0.0=pypi_0
requests-toolbelt=1.0.0=pypi_0
rich=13.7.1=pypi_0
rsa=4.9=pypi_0
setuptools=70.3.0=pypi_0
shellingham=1.5.4=pypi_0
six=1.16.0=pypi_0
sniffio=1.3.1=pypi_0
snowballstemmer=2.2.0=pypi_0
soupsieve=2.5=pypi_0
sphinx=7.3.7=pypi_0
sphinx-rtd-theme=2.0.0=pypi_0
sphinxcontrib-applehelp=1.0.8=pypi_0
sphinxcontrib-devhelp=1.0.6=pypi_0
sphinxcontrib-htmlhelp=2.0.5=pypi_0
sphinxcontrib-jquery=4.1=pypi_0
sphinxcontrib-jsmath=1.0.1=pypi_0
sphinxcontrib-qthelp=1.0.7=pypi_0
sphinxcontrib-serializinghtml=1.1.10=pypi_0
sqlalchemy=2.0.25=pypi_0
starlette=0.37.2=pypi_0
sympy=1.13.0=pypi_0
tenacity=8.5.0=pypi_0
tiktoken=0.5.2=pypi_0
tk=8.6.13=h5226925_1
tokenizers=0.19.1=pypi_0
tomli=2.0.1=pypi_0
tomlkit=0.12.5=pypi_0
tqdm=4.66.4=pypi_0
trove-classifiers=2024.7.2=pypi_0
typer=0.12.3=pypi_0
typing-extensions=4.12.2=pypi_0
typing-inspect=0.9.0=pypi_0
tzdata=2024.1=pypi_0
ucrt=10.0.22621.0=h57928b3_0
ujson=5.10.0=pypi_0
urllib3=2.2.2=pypi_0
uvicorn=0.30.1=pypi_0
vc=14.3=h8a93ad2_20
vc14_runtime=14.40.33810=ha82c5b3_20
virtualenv=20.26.3=pypi_0
vs2015_runtime=14.40.33810=h3bf8584_20
watchfiles=0.22.0=pypi_0
wcwidth=0.2.13=pypi_0
websocket-client=1.8.0=pypi_0
websockets=12.0=pypi_0
werkzeug=3.0.3=pypi_0
wheel=0.43.0=pyhd8ed1ab_1
wikipedia=1.4.0=pypi_0
win32-setctime=1.1.0=pypi_0
wrapt=1.16.0=pypi_0
xz=5.2.6=h8d14728_0
yarl=1.9.4=pypi_0
zipp=3.19.2=pypi_0
